<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButton">
      <c-card-header>
        <strong>About</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Schedulo is a scheduling app that allows you to keep track of your daily events!
        </p>
        <p class="text-medium-emphasis small">
        What are you waiting for?
        </p>
        <button cButton color="primary" [routerLink]="['/register']">Sign up today!</button>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButtonWithIcons">
      <c-card-header>
        <strong>Schedule</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Calendar to plan your day
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButtonWithIcons">
      <c-card-header>
        <strong>Notes</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Notepad to record any useful information you need
        </p>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4" id="AngularButtonWithIcons">
      <c-card-header>
        <strong>Navigation</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-medium-emphasis small">
          Google maps to help you plan your journey around
        </p>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
